
        body {
            background: #3f3e3e; /* Cambia el color de fondo del cuerpo del documento */
        }
        .center-text {
            text-align: center; /* Centra el texto */
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Cambia la fuente del texto */
            color: white; /* Color del texto */
            font-size: 75px; /* Tamaño de la fuente */
        }
        .center-text2 {
            text-align: center; /* Centra el texto */
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Cambia la fuente del texto */
            color: white; /* Color del texto */
            font-size: 50px; /* Tamaño de la fuente */
        }
        .carousel-item img {
            width: 350px; /* Ancho deseado */
            height: 350px; /* Alto deseado */
        }
        .card {
            margin: 10px; /* Agrega un pequeño margen entre las tarjetas */
        }
        .btn-custom {
            background-color: #919191; /* Cambia el color de fondo */
            border-color: #ffffff; /* Cambia el color del borde */
            color: #e6e6e6; /* Cambia el color del texto */
            font-size: x-large; 
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin-top: -90px; /* Ajusta el valor según sea necesario */
            margin-right: 20px;
            float: right;
        }
  